.grid__container {
  padding: 15px 0;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 300px));
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {
  .grid__container {
    grid-template-columns: repeat(3, minmax(200px, 300px));
  }
}
@media screen and (max-width: 992px) {
  .grid__container {
    grid-template-columns: repeat(2, minmax(200px, 300px));
  }
}
@media screen and (max-width: 576px) {
  .grid__container {
    grid-template-columns: repeat(1, minmax(200px, 300px));
  }
}
